.App {
  text-align: center;
  background-color: #ffffff;
  color: #14532d;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.card {
  border: 2px solid #14532d;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 2px 2px 10px #00000010;
  background-color: #f0fdf4;
  max-width: 300px;
}
